#firstPage{
    background-image: url("../Images/h_img.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    font-family: 'Gabriela', serif;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* background-position: right center; */
}
#thirdPage{
    height: 50vh;
    background-image: url("../Images/s_image.jpg");
    background-position: center;
    background-size: cover;
}
.col-lg-3 img{
    height: 30vh;
    width: 100%;
}
#fillform{
    background-image: url("../Images/c_image.jpg");
    background-size: cover;
    height: 70vh;
}
.form-control{
    background: none;
}
.form-control::placeholder{
    color: white;
}
#design,#development,#management{
    display: none;
    background-color: white;
    position: absolute;
    top: 0;
}
#whatWeDo{
    height: 30vh;
}
